@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #1c1d1d;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(120%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(120%);
    }
}

.animate-slideIn {
    animation: slideIn 0.4s ease-out forwards;
}
.animate-slideOut {
    animation: slideOut 0.4s ease-in forwards;
}
